/* components/ChessSteps.wxss */
.section-container {
  height: 300rpx;
  margin: 15px;
  padding: 10px;
  border: 1px solid gray;
  font-size: 1.5em;
}

.section-container-horizontal {
  height: 1.5em;
  margin: 0.2em;
  padding: 0.2em;
  border: 1px solid gray;
  font-size: 1.5em;
  white-space: nowrap;

  .step-line {
    display: inline-block;
    margin: 0 0.5em;
  }
}

.section-list {
  height: 100%;
}

.step-idx {
  font-family: monospace;
  margin-right: 10px;
  width: 40px;
  display: inline-block;
  text-align: right;
}

.step-text {
  font-family: SimHei;
  width: 25px;
  display: inline-block;
  text-align: center;
}

.section-steps-error {
  .step-line:last-child {
    color: red;
  }
}