.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200rpx 0;
  box-sizing: border-box;
} 

.section__title {
  text-align: center;
}

.section__full {
  width: 100vw;
  height: 110vw;
  position: relative;
}

.section__image {
  width: 100%;
  height: 100%;
}

.section__absolute {
  position: absolute;
  left: 0;
  top: 0;
}

.section__item {
  width: 8vw;
  height: 8vw;
}

.section__btns {
  text-align: center;
}

.section__btn {
  display: inline-block;
  margin: 20px !important;
  width: 100px !important;
}

.section__steps {
  margin: 15px;
  padding: 10px;
  border: 1px solid gray;
  font-family: monospace;
  font-size: 1.5em;

  .step-normal {
    font-weight: normal;
    padding-left: 10px;
  }

  .step-error {
    color: red;
  }

  .step-black {
    font-weight: bold;
    padding-left: 10px;
  }
}
