.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200rpx 0;
  box-sizing: border-box;
}

.section-full {
  width: 100vw;
  height: 110vw;
  position: relative;

  .section-image {
    width: 100%;
    height: 100%;
  }

  .section-absolute {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.section-btns {
  text-align: center;

  .section-btn {
    display: inline-block;
    margin: 20rpx;
    width: 140rpx;
    padding: 16rpx 0;
  }
}